.navbar {
    background-color: $dark;
    border-bottom: 1px solid $grey9;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.navbar .site-name {
    color: $gold5 !important;
}

.navbar .links {
    background-color: $dark !important;
    font-size: 1rem !important;
}

.nav-links a {
    color: $gold5 !important;
}
